<section class="p-3 m-0">
    <div class="picc">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col p-4 m-sm-5 form shadow-lg" >
                    <div class="text-center"><img src="/assets/images/looo.png" id="logo" alt="Logo du site" /><p>LE NJOH</p></div>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" >
                        <div class="signupMessage text-center alert-danger"
                        *ngIf="resetPasswordMessage != '' ">
                            <p>{{resetPasswordMessage}}</p>
                        </div>
                        <div class="text-center mb-1"
                        *ngIf="email!= '' ">
                            <p class="large">Resetting password for user <b>{{email}}</b></p>
                        </div>
                        <div class="mb-1">
                            <label for="password" class="form-label">Password</label>
                            <div class="passwordDiv">
                                <input type="password"
                                        class="form-control"
                                        id="password"
                                        formControlName="password"
                                        appPassword >
                            </div>
                        </div>
                        <div class="mb-1 small text-danger"
                                   *ngIf="password?.errors?.minlength"><p>The password must contain at least 6 characters !</p>
                        </div>
                        <div class="mb-1 small text-danger"
                                   *ngIf="!password?.errors?.minlength && password?.errors?.pattern"><p>The password must contain at least one special character !</p>
                        </div>
                        <div class="mb-1">
                            <label for="passwordConfirmation" class="form-label">Password Confirmation</label>
                            <div class="passwordDiv">
                                <input type="password"
                                        class="form-control"
                                        id="passwordConfirmation"
                                        formControlName="passwordConfirmation"
                                        appPassword >
                            </div>
                        </div>
                        <div class="mb-1 small text-danger"
                                   *ngIf="resetPasswordForm.hasError('notSame')"><p>The inputs don't match !</p>
                        </div>
                        <div class="text-center">
                            <button type="submit"
                            class="btn btn--outline-primary"
                            [ngClass]="{'btn--disabled':resetPasswordForm.invalid}"
                             >Reset password</button>
                        </div> 
                        <hr> 
                    </form>
                    
                    <div class=" d-flex align-items-end flex-column mt-2 " >
                        <br>
                        <a routerLink="/">Go back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</section>