<nav class="nav px-3 " >
    <a class="navbar-brand">
        <img src='../../../assets/images/loo.png' width="60" height="60" alt="Logo du site" />
        <span class="hidden-sm">LE NJOH</span>   
    </a>
    <div class="hidden-sm  nav--right">
        <a class="dropdown-item fromleft" routerLink="/auth/signin"> <i class="fa fa-fw fa-sign-in-alt"></i>Sign in</a>
        <a class="dropdown-item fromleft" routerLink="/auth/signup"> <i class="fa fa-fw fa-sign-out-alt"></i>Sign up</a>
    </div> 
    
</nav>