<nav class="nav px-3 " >
    <a class="navbar-brand" routerLink="/">
        <img src='../../../assets/images/loo.png' width="60" height="60" alt="Logo du site" />
        <span class="hidden-sm">LE NJOH</span>   
    </a>
    <div class="hidden-sm  nav--right" *ngIf="!isAuth">
        <a class="dropdown-item fromleft" routerLink="/auth/signin"> <i class="fa fa-fw fa-sign-in-alt"></i>Sign in</a>
        <a class="dropdown-item fromleft" routerLink="/auth/signup"> <i class="fa fa-fw fa-sign-out-alt"></i>Sign up</a>
    </div>
    <div class="hidden-sm  nav--right" *ngIf="isAuth">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><i class="fas fa-plus-circle"></i><span class="username hidden-sm">{{currentUser.name}}</span></a>
                <div class="dropdown-menu menu">
                  <a class="dropdown-item fromleft" routerLink="/core/infos"><i class="fa fa-fw fa-info-circle"></i> Informations</a>
                  <a class="dropdown-item fromleft" role="button" (click)="onSignOut()" href="#"><i class="fa fa-fw fa-sign-out-alt"></i>Log out</a>
                </div>
          </div>
    </div>
    
</nav>