<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-12 ">
                <div class="card shadow-lg px-5 pt-3 pb-5">
                    <div class="d-flex justify-content-center">
                        <img src='assets/images/looo.png' width="125px" height="125px" alt="Site's logo" />
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title text-center"> Email Sent</h5>
                        <p class="card-text text-justify">
                            We've sent an email to the address you provided.
                            Go check it for complete the password backup.
                             <i class="fa fa-weibo" aria-hidden="true"></i>
                        </p>
                         
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                            <a routerLink="/">Go back home</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        
    </div>
</section>