/* You can add global styles to this file, and also import other style files */
$c-primary: rgb(25, 118, 210);
$c-secondary: rgb(197, 53, 79);
$c-paleBlue: rgb(227, 230, 237);
$paddingBtn : 0.39em;
$radiusBtn: 0.3em;
$radiusBtnLg: 0.5em;
/* Fonts */
.bg{
    &--primary{
        background-color: $c-primary;
    }
    &--secondary{
        background-color: $c-secondary;
    }
}

.primary{
    color: $c-primary;
}
.secondary{
    color: $c-secondary;
}
.modal-box{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    backdrop-filter: blur(5px);
    transition: .3s;
}
.modal-button{
    color: white;
    background-color: #1976d2;
    border-color: transparent;
    width: 90px;
    opacity: 1;
}
.box{
    padding: 2rem;
    position: relative;
    background: white;
    width: 500px;
    margin: auto;
    transition: .3s;
}
.off{
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(90deg);
    font-family: cursive;
    color: #1976d2;
    cursor: pointer;
}
.contact-content{
    position: relative;
}
.contact-i{
    position: absolute;
    right: 5px;
}
.contact-i i{
    padding: 5px;
    cursor: pointer;
    font-size: 18pw;
    transition: .2s;
}
.contact-i a{
    color: #000000;
}
.contact-i i:hover{
    transform: scale(1.5);
    color: #1976d2;
}
.delete{
    border: none;
    background: transparent;
    padding: 0;
}
.search-bar{
    padding-right: 17px;
    margin: 6px 0;
}
.search-bar input{
    height: 39px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #85898c;
    padding: 0 15px;
    width: 145px;
    outline: none;
}
.search-bar button{
    border: none;
    background: #1976d2;
    height: 39px;
    color: white;
    padding: 0 15px 0 12px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Buttons */
.btn{
    
    &--primary{
        background: $c-primary;
        color: white;
        padding: $paddingBtn;
        border-radius: $radiusBtn;
        border: 1px solid $c-primary ;
        transition: transform 100ms ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        
    }
    &--secondary{
        background: $c-secondary;
        color: white;
        padding: $paddingBtn;
        border-radius: $radiusBtn;
        border: 1px solid $c-secondary ;
        transition: transform 100ms ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
    &.btn--lg{
        width: 15em;
        height: 5em;
        padding-top: 2em;
        border-radius: $radiusBtnLg;
    }
    &.btn--md{
        width: 10em;
        height: 3.5em;
        padding-top: 1em;
        border-radius: $radiusBtn;
    }
    &.btn--straight{
        border-radius: 0px;
    }
    &--outline-primary{
        border-radius: $radiusBtn;
        background: $c-primary;
        color: white;
        padding: $paddingBtn;
        border: 2px solid $c-primary ;
        transition: transform 100ms ease-in-out;
        &.btn--disabled{
            border: 2px solid $c-paleBlue;
            &:hover{
                border: 2px solid $c-paleBlue;
                background: $c-paleBlue;
                color: $c-primary;
            }
        }
        &:hover{
            color: white;
            transform: scale(1.1);
        }
        
    }
    &--outline-secondary{
        border-radius: $radiusBtn;
        background: white;
        color: $c-secondary;
        padding: $paddingBtn;
        border: 2px solid $c-secondary ;
        transition: transform 100ms ease-in-out;
        &.btn--disabled{
            border: 2px solid $c-paleBlue;
            &:hover{
                border: 2px solid $c-paleBlue;
                background: $c-paleBlue;
                color: $c-secondary;
            }
        }
        &:hover{
            background-color: $c-secondary;
            color: white;
            transform: scale(1.1);
        }
        
    }
    &--disabled{
        background: $c-paleBlue;
    }

}
body{
    font-family: 'Helvetica', 'Times','calibri','trebuchet ms', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
a{
    &.primary{
        color: #000000;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    &.secondary{
        color: $c-secondary;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .hidden-sm{
      display: none;
    } 
}
@media screen and (max-width: 1149px) {
    .hidden-md{
      display: none;
    } 
}
@media screen and (min-width: 1149px) {
    .appear-md{
      display: none;
    } 
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div.main-container{
    min-height: 100vh;
}
footer{
    background-color: #f7f7f7;
    padding: 20px 0px;
    margin-top: 30px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    font-style: italic;
}