<div class=" my-2 px-3 py-3 contact">
    <div class="contact-content  mr-2">
        <div class=""> <img src="/assets/images/profile.jpeg" alt="{{contact.name}} photo" width="50px" height="50px"/></div>
        <div>
            <a class="primary name"  role="button" aria-expanded="false" attr.aria-controls="contact_{{contact._id}}" > {{contact.name}}</a>
            <div class="small "><a class="primary number"  role="button" aria-expanded="false" attr.aria-controls="contact_{{contact._id}}" >{{contact.phone}}</a></div>
        </div>
        <div class="contact-i" style="display: flex; gap: 5px">
            <a data-toggle="collapse" href="#contact_{{contact._id}}"><i class="fas fa-user-edit" title="Modify the contact" ></i></a>
            <i class="fas fa-sms" title="Write to this contact" (click)="onWriteToContact()"></i>
            <form (ngSubmit)="delete($event)">
                <input type="hidden" value="contact_{{contact._id}}">
                <button type="submit" class="delete">
                    <i class="fas fa-trash-alt" title="Delete the contact"></i>
                </button>
                
            </form>
            
        </div>
        
    </div>
    <div class="collapse mt-2" id="contact_{{contact._id}}">
        <div class=" newContactForm p-3 collapse  mt-1 show" id="contactForm_{{contact._id}}">
            <form (ngSubmit)="onSubmit(f ,$event)" #f="ngForm" >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" [ngModel]="contact.name" required />
                </div>
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="text" id="phone" class="form-control" name="phone" [ngModel]="contact.phone" required>
                </div>
                
                <div class="submit">
                    
                    <button type="submit" class="btn btn-outline-info modal-button" data-toggle="collapse" [disabled]="f.invalid"
                            [ngClass]="{'disabled':f.invalid}"  > Modify </button>
                </div>

            </form>
         </div> 
     </div> 
</div>
