<section class="my-5">
    <div class="pict">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 col-12 ">
                    <div class="card shadow-lg px-5 pt-3 pb-5">
                        <div class="d-flex justify-content-center">
                            <div class="text-center"><img src="../../../assets/images/looo.png" id="logo" alt="Logo du site" /><p>LE NJOH</p></div>
                        </div>

                        <div class="signupMessage text-center alert-danger"
                        *ngIf="errorMessage != '' ">
                            <p>{{errorMessage}}</p>
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title text-center"> Trouble signing in ?</h5>
                            <p class="card-text text-justify">
                                Resetting your password is easy. 
                                Just enter your email address, press the button below and follow the instructions.
                                We'll send you an email to reset your password in no time.
                                 <i class="fa fa-weibo" aria-hidden="true"></i>
                            </p>
                            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="form-group">
                                            <input type="email" class="form-control" formControlName="email"  placeholder="Email address"  required>  
                                        </div>
                                    </div> 
                                </div>
                                <div class="mb-1 small text-danger"
                                   *ngIf="email?.errors?.email"><p>Please, enter a valid email</p>
                                </div>
                                <div class="row">
                                    <div class="col hidden-sm">
                                        <div>
                                            <a routerLink="/auth/signin" >Return to sign in</a>
                                        </div>
                                        <div>
                                            <button type="submit"
                                             class="btn--outline-primary"
                                             [ngClass]="{'btn--disabled':forgotPasswordForm.invalid}">Reset password</button> 
                                        </div>
                                    
                                    </div>
                                    
                                </div>                            
                            </form>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
    
</section>