@import "../../../styles.scss";
.hidden-sm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pict{
    background: url("../../../assets/images/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-position: center center;
    padding-bottom: 200px;
    padding-top: 90px;
    margin-top: 0px;
}
div a{
    color: $c-primary;
}

#logo{
    width: 75px;
    height: 75px;
    border: 1px solid $c-primary;
    border-radius: 37.5px;
    
}

@media screen and (max-width: 800px) {
    .hidden-sm{
      display: block;
      margin-left: 0px;
    }
}